.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    // padding: 30px;
    gap: 2px;
  }
  
  &__title {
    color: #407FEC;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-self: flex-start;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

&__tax {
  display: inline-flex;
  gap: 30px;
 

}

&__beforeTax {
  display: inline-flex;
  gap: 30px;
}

&__total {
  display: inline-flex;
  gap: 15px;
  color: #407FEC;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;

}

&__table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  }





.header {
  display: inline-flex;
  justify-content: space-between;
  background-color: #CCE5FF;
  align-items: center;
  padding: 15px;

  &__counter {
    display: inline-flex;
    gap: 15px;
  }

  &__btn {
    display: inline-flex;
    gap: 5px;
    align-items: center;
  }
}

.footer__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  border-bottom-style: dotted;
  border-bottom-color: grey; 
  border-bottom-width: 2px;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.total {
&__number {
  
  font-size: 20px;
}
}

.counter {

  &__number {
    font-weight: 600;
  }
}
@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}

.btn {
  cursor: pointer;
  &__text {
    text-decoration: underline;

  }

  &__cross {
 
    @include cross(20px, lightgrey, 4px);  
    background-color: grey;
    border-radius: 4px;
  }
  
}